body{
    background: #859864;
    text-align: center;
}
#titulo{
font-family: 'Courier New', Courier, monospace;

}

#exe{
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
    color: #20331b;
    
}

#fim{
    width: 50px;
    height: 50px;
}

#fundo{
        position: absolute;
        top: 150px; 
        left: 845px; 
        width: 250px;
        height: 300px;

}

#coruja{
    position: absolute;
    top: 30%; 
    left: 10%; 
    width: 240px;
    height: 300px;
}